body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
    justify-content: center;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav a:hover {
    background-color: #666;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #444;
}
  /* From Uiverse.io by riyaz7us */ 
.Download-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 20px;
    color: white;
    background: linear-gradient(144deg, #166534, #169934 50%, #168844);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 78, 48, 0.527);
    letter-spacing: 0.05em;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
    justify-content: center;
  }
  .Download-button a
  {
  text-decoration: none;
  }
  
  .Download-button svg {
    margin-right: 8px;
    width: 25px;
  }
  
  .Download-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #3b9982;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  
  .Download-button:active {
    box-shadow: 0 0.3em 1em -0.5em #3bf682;
  }
  
  .Download-button::before {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    transition: all 0.2s;
  }
  
  .Download-button::after {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
    transition: all 0.2s;
  }
  
  .Download-button:hover::before,
  .Download-button:hover::after {
    height: 60%;
  }
  
  .Download-button:hover::before {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transform: translate(5px, -15px) rotate(45deg);
  }
  
  .Download-button:hover::after {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: translate(-5px, 15px) rotate(45deg);
  }
  
.section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
}

footer a {
    color: #aaa;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}
